<h1>Good choice buddy!</h1>

<ul>
<li> Name: <strong><%= @restaurant.name %></strong> </li>
<li> Address: <%= @restaurant.address %></li>
<li> Phone number:<%= @restaurant.phone_number %></li>
<li> Category: <%= @restaurant.category %></li>
</ul>



<%=link_to "Restaurant List", restaurants_path, class: "btn btn-primary"%>

<%=link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-warning"%>

  <% @restaurant.reviews.each do |f| %>

<li> Content: <%= f.content %></li>
<li> Rating: <%= f.rating %></li>

  <% end %>
